# Proyecto Individual 01

### Procedemos a importar las librerías que vamos a utilizar e importamos los arcrivos CSV que vamos a limpiar.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# importamos los archivos
amazon = pd.read_csv(r'df/amazon_prime_titles.csv')
disney = pd.read_csv(r'df/disney_plus_titles.csv')
hulu = pd.read_csv(r'df/hulu_titles.csv')
netflix = pd.read_csv(r'df/netflix_titles.csv')

In [4]:
# Revisamos las filas y columnas y los valores no nulos de cada una
#amazon.info()
# disney.info()
hulu.info()
# netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [5]:
# Contamos los valores nulos de cada columna

#amazon.isna().sum()
#disney.isna().sum()
hulu.isna().sum()
#netflix.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

### Una vez revisamos que los **`df`** estén listos procedemos a su Limpieza

Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

In [6]:
# Construimos una nueva columna con la primer letra de cada plataforma y los valores de show_id
amazon['id']= 'a' + amazon['show_id']
disney['id']= 'd' + disney['show_id']
hulu['id']= 'h' + hulu['show_id']
netflix['id']= 'n' + netflix['show_id']

In [7]:
amazon.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1

In [8]:
disney.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1

In [9]:
hulu.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1

In [10]:
netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1

Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [11]:
#como podemos notar nan es un valor que se encuentra en la columna rating
#pd.unique(amazon.rating)
#pd.unique(disney.rating)
#pd.unique(hulu.rating)
pd.unique(netflix.rating)

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [12]:
# Utilizamos .fillna() para reemplazar los valores NaN en la columna rating por la letra 'G'
amazon.rating.fillna('G', inplace=True) # inplace=True permite guardar en el mismo df
disney.rating.fillna('G', inplace=True)
hulu.rating.fillna('G', inplace=True)
netflix.rating.fillna('G', inplace=True)

In [13]:
# Una vez aplicada la función nan no se encuentra y aparece 'G'
#pd.unique(amazon.rating)
#pd.unique(disney.rating)
#pd.unique(hulu.rating)
pd.unique(netflix.rating)

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [14]:
# Los valores nulos de la columna rating han sido reeplazados por 'G'
amazon.rating.isna().sum()

0

De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [15]:
# En la columna date_added cambiamos el formaro de fecha al de AAA-mm-dd
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')

In [16]:
netflix.date_added.head() # Comprobamos que el cambio se realizo

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [17]:
# Creamos ambas columnas, ya que .split por defecto divide en dos incertamos cada parte [0] y [1] en su respectiva columna 
amazon['duration_int'] = amazon.duration.str.split(' ', expand=True)[0]
amazon['duration_type'] = amazon.duration.str.split(' ', expand=True)[1]
amazon = amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

disney['duration_int'] = disney.duration.str.split(' ', expand=True)[0]
disney['duration_type'] = disney.duration.str.split(' ', expand=True)[1]
disney = disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]

hulu['duration_int'] = hulu.duration.str.split(' ', expand=True)[0]
hulu['duration_type'] = hulu.duration.str.split(' ', expand=True)[1]
hulu = hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu.columns[10:-2].tolist()]

netflix['duration_int'] = netflix.duration.str.split(' ', expand=True)[0]
netflix['duration_type'] = netflix.duration.str.split(' ', expand=True)[1]
netflix = netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]

#amazon[['duration_int', 'duration_type']].head()

Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [18]:
# Teniendo en uenta estas dos funciones podemos buscar y confirmar que columnas contienen texto y deben modificarse
amazon.info() 
amazon.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  duration_int   9668 non-null   object
 11  duration_type  9668 non-null   object
 12  listed_in      9668 non-null   object
 13  description    9668 non-null   object
 14  id             9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 1.1+ MB

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,113,min,"Comedy, Drama",A small fishing village must procure a local d...,as1

In [19]:
disney.head(1) # Tambien podemos revisar los otros df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,id
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-11-26,2016,TV-G,23 min,23,min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1

In [20]:
hulu.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,NaN,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1

In [21]:
netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,id
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,90,min,Documentaries,"As her father nears the end of his life, filmm...",ns1

In [22]:
# Tomamos cada columna qque contiene un string de cada DataFrame y aplixamos .lower() para que todos los campos queden en minúscula
amazon['type']= amazon.type.str.lower()
amazon['title']= amazon.title.str.lower()
amazon['director']= amazon.director.str.lower()
amazon['cast']= amazon.cast.str.lower()
amazon['country']= amazon.country.str.lower()
amazon['rating']= amazon.rating.str.lower()
amazon['duration']= amazon.duration.str.lower()
amazon['duration_type']= amazon.duration_type.str.lower()
amazon['listed_in'] = amazon.listed_in.str.lower()
amazon['description'] = amazon.description.str.lower()

disney['type']= disney.type.str.lower()
disney['title']= disney.title.str.lower()
disney['director']= disney.director.str.lower()
disney['cast']= disney.cast.str.lower()
disney['country']= disney.country.str.lower()
disney['rating']= disney.rating.str.lower()
disney['duration']= disney.duration.str.lower()
disney['duration_type']= disney.duration_type.str.lower()
disney['listed_in'] = disney.listed_in.str.lower()
disney['description'] = disney.description.str.lower()

hulu['type']= hulu.type.str.lower()
hulu['title']= hulu.title.str.lower()
hulu['director']= hulu.director.str.lower()
# Dado que hulu tiene sus 3073 valores en cast como 'NaN' este se omite
hulu['country']= hulu.country.str.lower()
hulu['rating']= hulu.rating.str.lower()
hulu['duration']= hulu.duration.str.lower()
hulu['duration_type']= hulu.duration_type.str.lower()
hulu['listed_in'] = hulu.listed_in.str.lower()
hulu['description'] = hulu.description.str.lower()

netflix['type']= netflix.type.str.lower()
netflix['title']= netflix.title.str.lower()
netflix['director']= netflix.director.str.lower()
netflix['cast']= netflix.cast.str.lower()
netflix['country']= netflix.country.str.lower()
netflix['rating']= netflix.rating.str.lower()
netflix['duration']= netflix.duration.str.lower()
netflix['duration_type']= netflix.duration_type.str.lower()
netflix['listed_in'] = netflix.listed_in.str.lower()
netflix['description'] = netflix.description.str.lower()

In [23]:
amazon.duration_type.unique() # Ya que dos de las tres variables son lo mismo vamos a unificarlas

array(['min', 'season', 'seasons'], dtype=object)

In [24]:
# Dejamos para el final el unificar los valores en season para no tener que modificar tantas palabras
amazon.duration_type.replace('seasons','season',inplace=True)
disney.duration_type.replace('seasons','season',inplace=True)
hulu.duration_type.replace('seasons','season',inplace=True)  #Tiene NaN 479
netflix.duration_type.replace('seasons','season',inplace=True) #Tiene NaN 3

### Ahora crearemos un dataframe que contenga todos los datos de los 4 dataframe

In [25]:
movies_completo = pd.concat([amazon,disney,hulu,netflix]) # Unificamos los 4 df en uno

In [26]:
movies_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13356 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22516 non-null  object
 10  duration_int   22516 non-null  object
 11  duration_type  22516 non-null  object
 12  listed_in      22998 non-null  object
 13  description    22994 non-null  object
 14  id             22998 non-null  object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 2.8+ MB

In [29]:
movies_completo.isna().sum() # Revisamos sus vaores faltantes

show_id              0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9642
release_year         0
rating               0
duration           482
duration_int       482
duration_type      482
listed_in            0
description          4
id                   0
dtype: int64

In [30]:
#Transformo el tipo de dato de la columna "duration_int" a entero:
movies_completo['duration_int'] = movies_completo.duration_int.astype("Int64")

#verifico que se haya hecho la transformación:
print(movies_completo["duration_int"].dtype)

Int64

In [31]:
movies_completo.dtypes # Revisamos una ultima vez

show_id                  object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
duration_int              Int64
duration_type            object
listed_in                object
description              object
id                       object
dtype: object

In [34]:
movies_completo.to_csv('movies_completo.csv', index=False) # Convertimos el df a .csv